@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*헤더 css*/
html{
    font-size: 1.5vw;
    font-family: 'IM_Hyemin-Bold';

}
body{
    margin:0px;
}


@media (max-width:800px) {

    #header {
        width:768px;
    }
}
/*board_form css*/
body #form{
    border-radius: 44px;
    margin-left: 18.6%;
    margin-right: 18.6%;
    width: 1200px;
    height: 100vh;
    background-color: #CDF0FF;

}

#form #title{
    width: 100%;
    height: 7.8%;
    margin-top: 2%;
    margin-left: 3%;
    display:inline-block;
    
}
#form #title #input{
    border-radius: 15px;
    background-color: white;
    width: 89%;
    height: 100%;
    border-width: 3px;
    border-color:black;
}
#form #text{
    width: 100%;
    height: 75%;
    margin-top: 2%;
    margin-left: 3%;
    display:inline-block;

}
#form #text textarea{
    border-width: 3px;
    border-radius: 15px;
    border-color:black;
    background-color: white;
    padding-left: 1%;
    padding-top: 1%;
    width: 88%;
    height: 100%;
    display:inline-block;
    resize: none;
}
#form #text #atag{
    display:inline-block;
    vertical-align: top;
    position:relative;
    margin-top: 10vh;
    margin-bottom: 20vh;

}
#form #submit{
    width: 100%;
    font-family: 'IM_Hyemin-Bold';
    
}
#form #submit input{
    background-color: #C4C4C4;
    border-radius: 5px;
    width: 10%;
    height: 100%;
    float:right;
    margin-right: 3%;
}
@media screen and (max-width:1000px) {
    #form {
        width:628.88px;
        margin-left: 186px;
        margin-right: 186px;;
    }
}



.boardcontainner{
    height: auto;
    padding: 20px;
}