@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root{
    --maincolor: #CDF0FF;  /*메인 색상*/
    --font50: 50px; /*메인 폰트 사이즈*/
    --font30:30px;
    --font15: 15px;
    --fonit20:20px;
    --font40:40px;

}
/*헤더 css*/
html{
    font-size: 1.5vw;
    font-family: 'IM_Hyemin-Bold';

}
body{
    margin:0px;
}



.boardcontainner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*grid-template-areas:*/

    /*        'LMarginLayout' 'main' 'RMarginLayout';*/
    /*        ''*/
    /*grid-template-rows: 600px;*/
    /*grid-template-columns: 1fr 600px 1fr;*/
}
.main{
    background-color: var(--maincolor);
    border-radius: 40px;
    width: 800px;
    height: 618px;
}
.ll{
    display: flex;
    justify-content: center;
    padding: 30px;
}

/*.LMarginLayout{*/
/*    grid-area: LMarginLayout;*/
/*    height: 100vh;*/
/*}*/

/*.main{*/
/*    grid-area: main;*/
/*    background-color: var(--maincolor);*/
/*        height: 100vh;*/

/*}*/
/*.RMarginLayout{*/
/*    grid-area:RMarginLayout ;*/
/*        height: 100vh;*/

/*}*/