@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --maincolor: #CDF0FF; /*메인 색상*/
    --font50: 50px; /*메인 폰트 사이즈*/
    --font30: 30px;
    --font15: 15px;
    --fonit20: 20px;
}


.cloud1 {
    position: absolute;
    top: 40px;
    left: 100px;
}

.cloud2 {
    position: absolute;
    top: 400px;
    left: 1650px;
}

body {
    font-family: 'IM_Hyemin-Bold';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    background-color: var(--maincolor);
}

.containnerLayout {
    display: grid;
    grid-template-areas: 'upLayout        upLayout       upLayout'
                         'LMarginLayout LoginLayout RMarginLayout'
                         'underLayout   underLayout   underLayout';
    grid-template-columns: 1fr  819px 1fr;
    grid-template-rows: 40px 1000px 40px;
}

.containnerLayout div {
    display: grid;
}

.upLayout {
    grid-area: upLayout;
    background-color: #CDF0FF;

}

.LMarginLayout {
    grid-area: LMarginLayout;
    background-color: #CDF0FF;
}

.LoginLayout {
    grid-area: LoginLayout;
    background-color: #ffffff;
    border-radius: 180px;
    z-index: 1;
    justify-content: center;
    align-content: center;
}

.RMarginLayout {
    grid-area: RMarginLayout;

}

.underLayout {
    grid-area: underLayout;
}

.LoginCenter {
    width: 528px;
    height: 662px;
    padding: 10px;
}

.logo {
    height: 120px;
    font-family: 'Monospace', sans-serif;
    font-size: var(--font50);
    border-bottom: black 3px solid;

}

.membership {
    font-size: var(--font50);
    position: relative;
    top: 10px;
}

.membership_under {
    font-size: var(--font15);
    position: relative;
    left: 20px;

}

.email {
    position: relative;
    top: 20px;
    font-size: var(--font30);
    margin-bottom: 20px;
    margin-top: 20px;

}

.submit {
    font-size: var(--font30);
}

.check {
    font-size: var(--font15);
}

.loginbutton {
    font-size: var(--font15);
}

.email_bar {
    border: 3px solid rgba(33, 33, 33, .5);
    width: 100%;
    border-radius: 20px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: var(--fonit20);
}

.email_submit_bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 3px solid rgba(33, 33, 33, .5);
    border-radius: 20px;
    height: 60px;
    font-size: var(--fonit20)

}

.email_submit {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

}

.undercontent {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: var(--font15);
    padding: 5px;
    height: 100px;
    margin-top: 40px;


}

.sureLogin {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    border: 3px solid rgba(33, 33, 33, .5);
    border-radius: 50px;
    height: 60px;
    font-size: var(—fonit20);
    background-color: var(—maincolor);
    margin-top: 40px;
}
#button{
    font-size: var(—fonit20);
    background-color: var(—maincolor);
    border:none;
    width: 100%;
    height: 60px;
    font-family: 'IM_Hyemin-Bold';
}
.undercontent #join a{
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
}