{%  extends 'base.html' %}
{% load static %}

{% block link %}{% static 'css/check_detail.css' %} {% endblock %}
{% block content %}

    <div class="upmargin"></div>
    <div class="gridContainner">

        <div class="LMarginLayout"></div>
        <div class="RMarginLayout"></div>

        <div class="main">
                <div id="board_name">
                <h2>회원관리</h2>
            </div>

            <div class="boardcontainner">
                <div class="">
                    [회원관리 승인]
                </div>
                <br>
                <br>
            <div class="check_containner">
                <p><img src="{{ check_detail_user.card.url }}" width="500" height="500" alt="x"/></p>
                <div class="complete"><a href="{% url 'update_status' check_detail_user.id %}"><button type="submit"  value="승인완료" class="btn btn-info">승인완료</a></div>
                <div class="delete"><a href="{% url 'delete_user' check_detail_user.id %}"><button type="submit" value="삭제" class="btn btn-info">삭제</a></div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="undermargin"></div>


{% endblock %}
