{%extends "base.html"%}
{% load static %}
{%block title%}로그인{%endblock%}
{%block link%}{% static 'css/login.css' %}{%endblock%}
{%block content%}
    <div class="containnerLayout">
    <div class="upLayout"></div>
    <div class="LMarginLayout"></div>

    <div class="LoginLayout">
            <div class="LoginCenter">
                <div class="logo">
                    <img src = "{% static 'img/logo.png' %}" alt ="logo">
                </div>
                <div class="membership">로그인</div>


                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="email">아이디</div>
                    <input class="email_submit_bar" type="text" name="username" placeholder="아이디를 입력하세요."><br>
                    <div class="submit">비밀번호</div>
                    <input class="email_submit_bar" type="password" name="password" placeholder="비밀번호를 입력하세요.">
                    <div class ="sureLogin"><button type="submit" id="button">로그인</button></div>
                    <p>{{ error }}</p>
                </form>
<!-- {#                <div class="email">#}
{#                    <div class="email_name">아이디</div>#}
{#                    <div class="email_bar">#}
{#                        <div class="idnav">이메일</div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="emailContainner"></div>#}
{#                    <div class="email_submit">#}
{#                        <div class="submit">비밀번호</div>#}
{#                        <div class="email_submit_bar">#}
{#                            <div class="pwnav">비밀번호</div>#}
{#                        </div>#}
{#                    </div>#}

{#                     <div class="sureLogin">#}
{#                            <div class="pwnav">로그인하기</div>#}
{#                        </div>#} -->
                    <div class="undercontent">
                        <div class="loginbutton" id ="join"><a href = {% url 'signup' %}>회원가입</a></div>
                    </div>
            </div>
    </div>

        <div class="RMarginLayout"></div>
        <div class="underLayout"></div>
    </div>
{%endblock%}