<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel = "stylesheet" href="{% block link %}{% endblock %}">


</head>
<body>
{#헤더입니다#}
    <nav class="navbar">
        <div class="navbar_logo">
            <i class="fab ba-amazon"></i>
            <a href="">아이콘</a>
        </div>

        <ul class="navbar_menu">
            <li><a href="" class="navbar_menu_item">학사/학과일정</a></li>
            <li><a href="" class="navbar_menu_item">게시판</a></li>
            <li><a href="" class="navbar_menu_item">활동 포인트 랭킹</a></li>
            <li><a href="" class="navbar_menu_item">게임</a></li>
            <li><a href="" class="navbar_menu_item">중고 서적 장터</a></li>
        </ul>
        <ul class="navbar_icons">
            <li><<a href=""><img src = "../src/alarm.png"alt ="alarm" width="30px" height="30px"></a></li>

            <li><a href=""><img src ="../src/profile.png"alt ="profile" width="30px" height="30px"></a></li>
            <li><a href=""><img src="../src/logout.png"alt ="logout" width="30px" height="30px"></a></li>
        </ul>
    </nav>
{#헤더 끝입니다#}
    {%block content  %}
    {% endblock %}
</body>
</html>