{%  extends 'base.html' %}
{% load static %}

{% block title %} 게시판{% endblock %}
{% block link %}{% static 'css/boardform.css' %}{% endblock %}

{% block content %}
    <div id="board_name">
        <h2>자유게시판</h2>
    </div>

    <div class="boardcontainner">
    <form id="form"  method="post" enctype="multipart/form-data">
        <div id="title">
            <a>제목</a>
            <input id="input" type="text" name="title">
        </div>

        <input type="file" id="chooseFile" name="chooseFile" accept="image/*" onchange="loadFile(this)">

        <div class="text">
            <div id="atag"><a>본문</a></div>
            <textarea style="resize: none" rows="20" cols="30" name="text"></textarea>
        </div>
        <div id="submit">
            <input type="submit" value="글쓰기">
        </div>
    </form>
        </div>

</div>

{% endblock %}

