{% extends 'base.html' %}
{% load static %}
{% block title %}글쓴 페이지 상세{% endblock %}
{% block link %}{% static 'css/free_detail.css' %}{% endblock %}


{% block content %}
    <!--    메인 컨테이너 시작-->
       <div class="containner">
            <div class="header"></div>
            <div class="marginL"></div>
            <div class="boardnav">
                <div class="middleboard">
                    <div class="mainboard">
                          <i class="content">
                              <a>자유 게시판</a>
                              <a>스터디 게시판</a>
                              <a>공모전 게시판</a>
                              <a>졸업생 게시판</a>
                              <a>동아리 게시판</a>
                          </i>
                    </div>
                </div>
            </div>
            <div class="marginR"></div>
            <div class="main">
                <div class="name">자유게시판</div>

                <div class="h"></div>
                <div class="mainboard">
                <div class="writeList">
                    <div class="introduce">
                        {% if detail_free.Free_image %}
                            <p><img  class="writeimg" src="{{ detail_free.Free_image.url }}" width="200px" height="200px" alt="X"/>
                            </p>
                        {% endif %}
                        <div>
                            <h2>작성자 : {{ detail_free.Free_author }}</h2>
                            <h2>작성 시간 : {{ detail_free.Free_pub_date }}</h2>
                        </div>
                    </div>
                    <div class="sort_bar">
                        <div><h2> 제목 :{{detail_free.Free_title}}</h2></div>
                    </div>
                    <div class="mainstory"><h2>{{ detail_free.Free_body }}</h2></div>
                    {% if user == detail_free.Free_author %}
                        <div class="update">
                        <a href="{% url 'free_edit' detail_free.id %}">
                            <button type="submit">수정</button>
                        </a>
                        <a href="{% url 'free_delete' detail_free.id %}">
                            <button type="submit">삭제</button>
                        </a>
                        </div>
                    {% endif %}
                </div>

                    <div class="coment_text">
                        <div class="usercoment">
                            <form action="{% url 'create_free_comment' detail_free.id %}" method="POST"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <!-- <p>작성자 : <input type="text" name="author"></p> -->
                                <div class="commentline">
                                <p> <textarea name="content" cols="150" rows="2" placeholder="댓글을 입력하세요"></textarea></p>
                                <button type="submit">댓글작성</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                    <div class="writeList">
                        <div class="comment__box">
                            {% for comment in detail_free.comments.all %}
                                    <div class="comment_box_form">
                                        <div class="user-id">
                                          작성자 : {{ comment.free_author }}
                                        </div>
                                        <div class="user-comment"></div>
                                        <sub class="comment-date">작성 시간 :{{ comment.free_at }}</sub>
                                        <div class="coment_box">
                                         <div class="mainstory">{{ comment.free_content|linebreaksbr }}</div>
                                            </div>
                                </div>

                                <div class="commentupdate">
                                <!-- 댓글 삭제 -->
                                {% if user == comment.free_author %}
                                    <a href="{% url 'delete_free_comment' detail_free.id comment.id %}"
                                       method="POST" enctype="multipart/form-data">
                                        <button>삭제</button>
                                    </a>
                                    <!-- 댓글 수정 -->
                                    <a href="{% url 'update_free_comment' detail_free.id comment.id %}"
                                       method="POST" enctype="multipart/form-data">
                                        <button>수정</button>
                                    </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
           <div class="undermargin"></div>
       </div>
    <div>
    </div>

{% endblock %}
