{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/notice.css'%}"
    <title>Document</title>
</head>
<body>
    <p><공지사항 CRUD 테스트 중></p>
    {%for a in Graduate_boards%}
    <div>
        <a href = "{%url 'new'}">글쓰기</a>
        <h2>{{a.Graduate_title}}</h2>
        <h2>{{a.Graduate_pub_date}}</h2>
        <h2>{{a.Graduate_author}}</h2>
        <h2>{{a.Graduate_body}}</h2>
        <p><img src="{{ a.Graduate_board_image.url }}" alt="X"/></p>
    </div>
    {%endfor%}
</body>
</html>