{%  extends 'base.html' %}
{% load static %}

{% block title %} 졸업생게시판 업로드{% endblock %}
{% block link %}{% static 'css/boardform.css' %}{% endblock %}

{% block content %}

    <div id="board_name">
        <h2>졸업생게시판 업로드</h2>
    </div>

    <div class="boardcontainner">
    <form id="form" action = "{%url 'graduate_post'%}"  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="title">
            <a>제목</a>
            <input id="input" type="text" name="title">
        </div>
        <div class="imageset">
            <label for="chooseFile">
                👉 CLICK HERE! 👈
            </label>
        </div>
        <input type="file" id="chooseFile" name="image" accept="image/*" onchange="loadFile(this)">

        <div id="text">
            <div id="atag"><a>본문</a></div>
            <textarea style="resize: none" rows="20" cols="30" name="body"></textarea>
        </div>
        <div id="submit">
            <input type="submit" value="글쓰기">
        </div>
    </form>
        </div>

</div>
    <!-- <form action = "{%url 'notice_post'%}" method = "POST" enctype = "multipart/form-data">
        {% csrf_token %}
        <input type = "text" name = "title" placeholder="제목">
        <!-- <input type = "text" name = "author" placeholder="작성자"> -->
        <!-- <textarea name = "body" cols = "100" row = "100" placeholder="내용"></textarea>
        첨부파일: <input type = "file" name = "image">
        <button type = "submit">작성하기</button>
    </form>
</body> -->
{% endblock %}