{%  extends 'base.html' %}
{% load static %}

{% block title %} 중고서적게시판 수정{% endblock %}
{% block link %}{% static 'css/boardform.css' %}{% endblock %}

{% block content %}
<div id="board_name">
    <h2>중고서적게시판 수정</h2>
</div>

<div class="boardcontainner">
<form id="form" action = "{%url 'market_update' market.id%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="title">
        <a>제목</a>
        <input id="input" type="text" name="title">
    </div>
    <div class="imageset">
        <label for="chooseFile">
            👉 CLICK HERE! 👈
        </label>
    </div>
    <input type="file" id="chooseFile" name="image" accept="image/*" onchange="loadFile(this)">

    <div id="text">
        <div id="atag"><a>본문</a></div>
        <textarea style="resize: none" rows="20" cols="30" name="body"></textarea>
    </div>
    <div id="submit">
        <input type="submit" value="수정하기">
    </div>
</form>
    </div>

</div>

{% endblock %}

