{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/notice.css'%}"
    <title>Document</title>
</head>
<body>
    <p><공지사항 CRUD 테스트 중></p>
    <a href = "{%url 'notice_post'%}">글쓰기</a>
    {%for a in Notices%}
    <div>      
        <h2>{{a.Notice_title}}</h2>
        <h2>{{a.Notice_pub_date}}</h2>
        <h2>{{a.Notice_author}}</h2>
        <h2>{{a.Notice_body}}</h2>
        {%if a.Notice_image%}
        <p><img src="{{ a.Notice_image.url }}" alt="X"/></p>
        {%endif%}
        <a href="{% url 'notice_detail' a.id %}">자세히 보기</a>
    </div>
    {%endfor%}
</body>
</html>