{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/notice.css'%}"
    <title>Document</title>
</head>
<body>
    <div>      
        <h2>{{detail_notice.Notice_title}}</h2>
        <h2>{{detail_notice.Notice_pub_date}}</h2>
        <h2>{{detail_notice.Notice_author}}</h2>
        <h2>{{detail_notice.Notice_body}}</h2>
        {%if detail_notice.Notice_image%}
        <p><img src="{{ detail_notice.Notice_image.url }}" alt="X"/></p>
        {%endif%}
        <a href="{% url 'notice_edit' detail_notice.id %}"><button type = "submit">수정</button></a>
        <a href="{% url 'notice_delete' detail_notice.id %}"><button type="submit">삭제</button></a>
    </div>
    <div>
        <form action="{% url 'create_notice_comment' detail_notice.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>작성자 : <input type="text" name="author"></p>
            <p>댓글 : <textarea name="content" cols="20" rows="10"></textarea></p>
            <button type="submit">댓글작성</button>
        </form>
    </div>
    {% for comment in detail_notice.comments.all %}
        <div class="comment__box">
            <div class="comment_box_form">
                <div class="user-id">
                    {{ comment.notice_author}}
                </div>
                <div class="user-comment">{{ comment.notice_content|linebreaksbr}}</div>
                <sub class="comment-date">{{ comment.notice_create_at }}</sub>
            </div>
        </div>
    {% endfor %}
    </body>
</html>