{%  extends 'base.html' %}
{% load static %}

{% block title %} 공지게시판 업로드{% endblock %}
{% block link %}{% static 'css/notice_new.css' %}{% endblock %}

{% block content %}

    <div id="board_name">
        <h2>공지게시판 업로드</h2>
    </div>

    <div class="boardcontainner">

        <div class="LMarginLayout"></div>
        <div class="main">
            <div   class="ll">
            <form id="form" action="{% url 'notice_post' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="title">
                    <a>제목</a>
                    <input id="input" type="text" name="title">
                </div>
                <div class="imageset">
                    <label for="chooseFile">
                        👉 CLICK HERE! 👈
                    </label>
                </div>
                <input type="file" id="chooseFile" name="image" accept="image/*" onchange="loadFile(this)">

                <div id="text">
                    <div id="atag"><a>본문</a></div>
                    <textarea style="resize: none" rows="13" cols="40" name="body"></textarea>
                </div>
                <div id="submit">
                    <input type="submit" value="글쓰기">
                </div>
            </form>
                </div>
        </div>
            <div class="RMarginLayout"></div>

    </div>

{% endblock %}