 @font-face {
        font-family: 'IM_Hyemin-Bold';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
        font-weight: normal;
        font-style: normal;
}
html{
    height: 100vh;
    width: 100vw;
    overflow: auto;
}
:root{
    --maincolor: #CDF0FF;  /*메인 색상*/
    --font50: 50px; /*메인 폰트 사이즈*/
    --font30:30px;
    --font15: 15px;
    --fonit20:20px;
    --font40:40px;

}

 .containner {
      display: grid;
      grid-template-areas:
                         'marginL  header      marginR'
                         'marginL  boardnav    marginR'
                         'marginL  main        marginR'
                         'marginL  undermargin marginR';

      grid-template-columns: 1fr 1200px 1fr; /*세로 좌:300px고정 가운데 1fr: 유동식 우 300px 고정*/
      grid-template-rows: 90px 160px 1fr 140px; /*가로 */
  }
.containner div {
    display: grid;

}

.header {
    grid-area: header;
}

.marginL {
    grid-area: marginL;
}

.main {
    grid-area: main;
}

.marginR {
    grid-area: marginR;
    height: 100vh;
}

.undermargin {
    grid-area: undermargin;
}

.navbr {
    justify-items: center;
    align-items: center;
    width: 100%;
}
.boardnav {   /*아직 안정함*/
    grid-area: boardnav;
    background-color: var(--maincolor);
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 20px;
    height: 160px;
}

.middleboard{
    padding: 8px;
    background-color: white;

}
.mainboard{
    border-radius: 30px;
    background-color: var(--maincolor);
}



.boardcontainner > .title{
        margin: 2vh 0 10px 1vh;
        font-size: var(--fonit20);

}
.boardcontainner > .mainstory{
    border: 1px solid black ;
    position: relative;
    height: 6vh;
    border-radius: 10px;
    background-color: white;
    margin: 0 1vw 1vh 1vw;
}

.nextnav{
    display: flex;
    justify-content: center;
}
.nextnav span{
    margin: 0 1vw 0 1vw;
}
.content{
    font-family: 'IM_Hyemin-Bold';

    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 20px;
}

.content a{
    margin: 0 3vw 0 3vw;
    border-left:  solid white 2px;
    border-right:  solid white 2px;
    padding: 10px;
}



.bulletin_board_table{
    width: 100%;
    height: 150vh;
    margin-top: 15vh;
    background-color: var(--maincolor);
}
.bulletin_board_table th{
        height: 1vh;
        border-color: #025ce2;

}
td{

}

.first_row{
    border :3px solid black;
}

.table_row_margin{
    height: 16vh;
    background-color: white;
}
.table_column_margin{
    width: 8vw;
    background-color: white;
}
.content_board{
    border-radius: 30px;
}

